*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'IBM Plex Sans', sans-serif; ;
        }

        
input {
    background-color: #00F3BB;
    border: none; 
    text-align: center;
    width: 15.7%; 
    height: 1.4%;
    line-height: 24px;
    margin-top: 1.4%;
}

input:hover{
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

iframe{
    z-index: 10;
}

main{
    overflow-x: hidden;
}

body{
    width: 100%;
}

@media (max-width:768px){
    body{
        width: 100%;
    }
}