// // menu hamburguesa

@media screen and(max-width:768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    margin-top: 0%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    // background-color:white transparent;
    // z-index: 3;
  }

  .logo {
    width: 5%;
    
  }

  header nav .menu ul {
    /*posicion absolute para que se posicione debajo del resto del header - top medida del header*/
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    overflow: hidden;
    list-style: none;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    height: 0px;
    display: flex;
    flex-direction: column;
  }

  header nav .menu ul li {
    position: relative;
  }

  header nav .menu ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 16px 5%;
    line-height: 28px;
    display: block;
  }

  header nav .menu input[type="checkbox"]:checked ~ ul {
    height: 240px;
  }
  header nav .menu {
    padding-top: 3px;
    float: left;
    margin-left: 80%;
  }
  /*checkbox transparente y en primer plano*/
  header nav .menu input {
    display: block;
    width: 40px;
    height: 32px;
    opacity: 0;
    z-index: -2;
    position: absolute;
  }
  /*span -lineas del menu hamburguesa-*/
  header nav .menu span {
    display: block;
    width: 25px;
    height: 2.5px;
    margin-bottom: 6.5px;
    position: relative;
    background: #000;
    z-index: 1;
    transform-origin: 3px 0px;
  }
  header nav .menu span:first-child {
    transform-origin: 0% 0%;
  }
  header nav .menu span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  /*movimiento a cruz*/
  header nav .menu input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(2px, 1px);
  }
  header nav .menu input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  header nav .menu input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(1px, 0px);
  }
}

@media screen and(max-width:320px) {
  header {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 7%;
    margin-bottom: 7%;
    margin-top: 0%;
    // background-color: white transparent;
    z-index: 3;
    display: flex;
    justify-content:center;
    align-items: center;
    }
  
  
  .logo {
    width: 26px;
    height: 26px;
  }

  nav {
    width: 80%;
  }
}
