.final{
    margin-top: 2%;
       h2{
        margin-left: 18%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
}

.iconos{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.caja1{
    width: 18.1%;
    height: 3.3%;
 
}
.caja2{
    width: 18.1%;
    height: 3.3%;
}
.caja3{
    width: 18.1%;
    height: 3.3%;
}
.caja4{
    width: 18.1%;
    height: 3.3%;
}

.final .div{
    margin-top: 7.9%;
}

