.final {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
 
}

/* .iconos {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  padding: 2%
  
  ;
} */

.caja {
    height: 3.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.centeredIconTitle{
  margin-top: 5%;
  
  text-align: center;
  
  
}

.final .div {
  margin-top: 7.9%;
}

#invisible3{
 color: white;
 font-size: 0px;
}


.newsTitleSize{
  font-size: 0.5em;
}




@media (max-width: 320px) {
  .final {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .temas{
      text-align: center; 
      width: 100%;
      margin-left: 0;
      margin-right: auto;  }}
  
  .iconos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .caja {    
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .caja p {
    width: 100%;
    font-size: 22PX;
    margin-left: auto;
    margin-right: auto;
    height: 0.6%;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
      
      }
  .icon{
    // margin-left: auto;
    // margin-right: auto;
    width:104px;
    height: 104px;
    
  }
}
