.first {
  margin-left: 18%;
  margin-right: auto;
  background-color: #fff;
  font-family: sans-serif;
  font-size: large;
  h1 {
    font-size: 4em;
    .mundo {
      text-decoration: line-through;
    }
  }

  input{
    background-color: #00F3BB;
    border: #00F3BB;
    height: 2.5em;
    margin-top: 3%;
    padding: 1%;
    
  }
}

.punto {
  color:#0000ec
}

.portal {
  width: 43.6%;
  font-size: 1.5em;
}


@media (max-width:768px){
  .first{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 8%;
    h1 {
      width: 90%;
      }
    p{
      width: 90%;
    }  

    input{
      width: 80%;
      
    }
  }



}
  
