footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;;
  p {
    width: 70%;
    font-size: large;
    font-family: "IBM Plex Mono", monospace;
  }
}


.footicon{
  width: 50%;
  display:flex;
  justify-content: space-evenly;
 
}

.footicon a .icons{
  width: 20%;
}

@media screen and(max-width:320px) {
  footer {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footicon {
    width: 90%;
    display: flex;
    margin-top: 2%;
    margin-right: auto;
    margin-left: 5%;
      .icons{
        width: 30%;
           
      }
  }

  .icons {
    width: 10%;
    margin: 5%;
  }
  .pfooter {
    width: 100%;
    align-items: center;
    font-size: medium;
    margin-left: 20%;
  }
}
