footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    p{
        width:70%;
        font-size: large;
    }
}

.footicon{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 0.8%;
}

.icons{
    margin:1%;
    margin-right: -1%;
}