footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  p {
    width: 70%;
    font-size: large;
    font-family: "IBM Plex Mono", monospace;
  }
}

.footicon {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 0.8%;
}

.icons {
  margin: 1%;
  margin-right: -1%;
}

@media screen and(max-width:320px) {
  footer {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footicon {
    width: 100%;
    display: flex;
    margin-right: auto;
    margin-left: 10%;
      .icons{
        width: 30%;
           
      }
  }

  .icons {
    width: 10%;
    margin: 5%;
  }
  .pfooter {
    width: 100%;
    align-items: center;
    font-size: medium;
    margin-left: 20%;
  }
}
