.fourth{
    margin-left: 0px;
    font-size:x-large;
        img{
            width: 33.33%;
        }
}

.images{
    margin-left: 0px;
}

.primeras{
    display: flex;
}

.segundas{
    display: flex;
}

.guests{
    margin-left: 18%;
    font-size: 3em;
    padding: 0.9%;
}   

