.fourth{
    margin-left: 0px;
    font-size:x-large;
        img{
            width: 33.33%;
       }
    }

.iconos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.primeras{
    display: flex;
}

.segundas{
    display: flex;
}

.guests{
    margin-left: 18%;
    font-size: 3em;
    padding: 0.9%;
}   

#invisible2{
    color: transparent;
    font-size: 0px;
    display: none;
    color: white;
}

@media (max-width:768px){
    .fourth{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        h2{
          font-size: xx-large;
          margin-left: 3%;
        }   
    }
    .primeras {
        display: flex;
        flex-wrap: wrap;
        img{
            width: 100%;            
        }
    }
    .segundas {
        display: flex;
        flex-wrap: wrap;
        img{
            width: 100%;            
        }
    }
}


       