.second{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;    
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 16%, 100% 0, 100% 84%, 0% 100%); 
    min-height: 1200px;
        
}

.second .artmedia{
    width: 100%;
}
.media{
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

iframe{
    width:100%; 
    height: 232px;
    border: none;
    background-color: transparent;

}
     


#secondtitle{
    text-align: start;
    margin-left: 15%;
    margin-top: 0%;
    margin-bottom: 3%;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-family: 'IBM Plex Sans', sans-serif;
}


@media (max-width:768px){
    .second{
        clip-path: polygon(0 6%, 100% 2%, 100% 94%, 0 98%);
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        min-height: 1300px;
    }
    .media{
        display: flex;
        flex-wrap: wrap;
        }
     }
