
.third{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.celular{
    width: 45%;
    margin-top: -10%;
    z-index: 12;
}

.where{
    width: 45%;
    font-size: 1.1em;
}   