.third {
  display: flex;
  justify-content: center;

  width: 100%;
}

.secret{
  width: 31.8%;
  max-height: 860px;
  }

.celular {
  width: 100%;
  z-index: 2;
}

.where{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.textofinal{
  margin-left: 5%;
}

.where .textofinal .par{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    width: 70%;
    // margin-right: 20%;
    line-height: 24px;
    
}

.where h2{
    width: 27.7%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
}

#invisible{
  color: transparent; 
  font-size: 0px;

}

@media (max-width: 393px) {
  .third {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.celular {
  width: 95%;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}
.secret {
  width: 100%;
}
.where {
  width: 100%;
  h2 {
    font-size: xx-large;
    margin-bottom: 1%;
    width: 90%;
    text-align: justify;
    margin-left: 5%;
  }
   .where .textofinal p {
    width: 90%;
    font-size: 14px;
    margin: auto;
    line-height: 22px;
    margin-bottom: 4%;
  }

  .textofinal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 320px) {
  .secret {
    width: 95%;
    margin-top: -15%;
    }
    .third {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .celular {
    width: 95%;
    margin-top: -12%;
    margin-left: auto;
    margin-right: auto;
  }
  .secret {
    width: 100%;
  }
  .where {
    width: 100%;
    h2 {
      font-size: xx-large;
      margin-bottom: 1%;
      width: 90%;
      text-align: justify;
      margin-left: 5%;
    }
     .where .textofinal .par{
      width: 50%;
      font-size: 12px ;
      margin: auto;
      line-height: 22px;
      margin-bottom: 4%;
      margin-left: 1%;
      margin-right: auto;
    }
  
    .textofinal {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10%;
      width: 90%;
    }
  }

