
.third{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.celular{
    width: 45%;
    margin-top: -10%;
    z-index: 12;
}

.where{
    width: 45%;
    font-size: 1.1em;
}   


@media (max-width:768px){
    .third{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .secret{
        width: auto;
    }
    .celular{
        width: 95%;
        margin-top:-15%;
        margin-left: auto;
        margin-right: auto;
    }
    .where{
        width: 100%;
        h2{
          font-size: xx-large;
          margin-bottom: 1%;
          width: 90%;
          text-align: justify;
          margin-left: 5%;
         }
         p{
             width: 90%;
             font-size: 14px;
             margin: auto;
             line-height: 22px;
             margin-bottom: 4%;
             
         }

         .textofinal{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            }
     
    }
}

@media (max-width:320px){
    .secret{
        width: 95%;
        margin-top: -15%;
    }
}