* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* input {
    background-color: #00F3BB;
    border: none; 
    text-align: center;
    width: 15.7%; 
    height: 1.4%;
    line-height: 24px;
    margin-top: 1.4%;
} */
input:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

main {
  overflow-x: hidden;
}

body {
  width: 100%;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
}

link:visited {
  text-decoration: none;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  height: 2%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 100;
}

.logo {
  width: auto;
  margin-left: 5%;
  margin-top: 1%;
}

.menu {
  margin: 0%;
  width: 80%;
}

nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul {
  width: 100%;
  top: 45px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

header nav ul li {
  position: relative;
}

header nav ul li:hover {
  filter: brightness(8);
}

header nav ul li a {
  position: relative;
  text-decoration: none;
  color: #060A24;
  line-height: 28px;
  display: block;
}

header nav ul li a:hover {
  color: #00F3BB;
  text-decoration: line-through;
}

.first {
  margin-left: 18%;
  margin-right: auto;
  background-color: #fff;
  font-family: sans-serif;
  font-size: large;
}
.first h1 {
  font-size: 4em;
}
.first h1 .mundo {
  text-decoration: line-through;
}
.first input {
  background-color: #00F3BB;
  border: #00F3BB;
  height: 2.5em;
  margin-top: 3%;
  padding: 1%;
}

.punto {
  color: #0000ec;
}

.portal {
  width: 43.6%;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .first {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 8%;
  }
  .first h1 {
    width: 90%;
  }
  .first p {
    width: 90%;
  }
  .first input {
    width: 80%;
  }
}
.second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 16%, 100% 0, 100% 84%, 0% 100%);
          clip-path: polygon(0 16%, 100% 0, 100% 84%, 0% 100%);
  min-height: 1200px;
}

.second .artmedia {
  width: 100%;
}

.media {
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

iframe {
  width: 100%;
  height: 232px;
  border: none;
  background-color: transparent;
}

#secondtitle {
  text-align: start;
  margin-left: 15%;
  margin-top: 0%;
  margin-bottom: 3%;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-family: "IBM Plex Sans", sans-serif;
}

#invisible0 {
  display: none;
  font-size: 0;
  color: transparent;
}

@media (max-width: 768px) {
  .second {
    -webkit-clip-path: polygon(0 6%, 100% 2%, 100% 94%, 0 98%);
            clip-path: polygon(0 6%, 100% 2%, 100% 94%, 0 98%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    min-height: 1300px;
  }
  .media {
    display: flex;
    flex-wrap: wrap;
  }
}
.third {
  display: flex;
  justify-content: center;
  width: 100%;
}

.secret {
  width: 31.8%;
  max-height: 860px;
}

.celular {
  width: 100%;
  z-index: 2;
}

.where {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.textofinal {
  margin-left: 5%;
}

.where .textofinal .par {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  width: 70%;
  line-height: 24px;
}

.where h2 {
  width: 27.7%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 48px;
}

#invisible {
  color: transparent;
  font-size: 0px;
}

@media (max-width: 393px) {
  .third {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.celular {
  width: 95%;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

.secret {
  width: 100%;
}

.where {
  width: 100%;
}
.where h2 {
  font-size: xx-large;
  margin-bottom: 1%;
  width: 90%;
  text-align: justify;
  margin-left: 5%;
}
.where .where .textofinal p {
  width: 90%;
  font-size: 14px;
  margin: auto;
  line-height: 22px;
  margin-bottom: 4%;
}
.where .textofinal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 320px) {
  .secret {
    width: 95%;
    margin-top: -15%;
  }
  .third {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.celular {
  width: 95%;
  margin-top: -12%;
  margin-left: auto;
  margin-right: auto;
}

.secret {
  width: 100%;
}

.where {
  width: 100%;
}
.where h2 {
  font-size: xx-large;
  margin-bottom: 1%;
  width: 90%;
  text-align: justify;
  margin-left: 5%;
}
.where .where .textofinal .par {
  width: 50%;
  font-size: 12px;
  margin: auto;
  line-height: 22px;
  margin-bottom: 4%;
  margin-left: 1%;
  margin-right: auto;
}
.where .textofinal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10%;
  width: 90%;
}

.fourth {
  margin-left: 0px;
  font-size: x-large;
}
.fourth img {
  width: 33.33%;
}

.iconos {
  width: 90%;
  display: flex;
  margin-right: 5%;
  margin-left: 5%;
  justify-content: space-around;
}

.primeras {
  display: flex;
}

.segundas {
  display: flex;
}

.guests {
  text-align: center;
  /* margin-left: 18%; */
  font-size: 3em;
  padding: 0.9%;
}

#invisible2 {
  color: transparent;
  font-size: 0px;
  display: none;
  color: white;
}

@media (max-width: 768px) {
  .fourth {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .fourth h2 {
    font-size: xx-large;
    margin-left: 3%;
    align-self: center;
  }
  .primeras {
    display: flex;
    flex-wrap: wrap;
  }
  .primeras img {
    width: 100%;
  }
  .segundas {
    display: flex;
    flex-wrap: wrap;
  }
  .segundas img {
    width: 100%;
  }
}
.final {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

/* .iconos {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  padding: 2%

  ;
} */
.caja {
  height: 3.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centeredIconTitle {
  margin-top: 5%;
  text-align: center;
}

.final .div {
  margin-top: 7.9%;
}

#invisible3 {
  color: white;
  font-size: 0px;
}

.newsTitleSize {
  font-size: 0.5em;
}

@media (max-width: 320px) {
  .final {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .final .temas {
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-right: auto;
  }
  .iconos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .caja {
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .caja p {
    width: 100%;
    font-size: 22PX;
    margin-left: auto;
    margin-right: auto;
    height: 0.6%;
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
  }
  .icon {
    width: 104px;
    height: 104px;
  }
}
.news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 1%;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 38%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 38%, 100% 0%, 100% 100%, 0% 100%);
  width: 100%;
  padding: 2%;
}
.news h2 {
  margin-bottom: 0.9%;
  font-size: 1.5rem;
  margin-top: 5%;
  color: white;
  font-family: sans-serif;
}

.conoce {
  margin-top: 0%;
  margin-bottom: 3%;
  font-size: small;
  border-color: #00F3BB;
  background-color: #00F3BB;
  padding: 2%;
}

@media (max-width: 320px) {
  .news {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4%;
    min-height: 280px;
    -webkit-clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
  }
  h2 {
    margin-top: 1%;
    font-size: 36px;
    width: 60%;
    text-align: center;
  }
  .conoce {
    margin-bottom: 0%;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
footer p {
  width: 70%;
  font-size: large;
  font-family: "IBM Plex Mono", monospace;
}

.footicon {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.footicon a .icons {
  width: 20%;
}

@media screen and (max-width: 320px) {
  footer {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footicon {
    width: 90%;
    display: flex;
    margin-top: 2%;
    margin-right: auto;
    margin-left: 5%;
  }
  .footicon .icons {
    width: 30%;
  }
  .icons {
    width: 10%;
    margin: 5%;
  }
  .pfooter {
    width: 100%;
    align-items: center;
    font-size: medium;
    margin-left: 20%;
  }
}
@media screen and (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    margin-top: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logo {
    width: 5%;
  }
  header nav .menu ul {
    /*posicion absolute para que se posicione debajo del resto del header - top medida del header*/
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    overflow: hidden;
    list-style: none;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    height: 0px;
    display: flex;
    flex-direction: column;
  }
  header nav .menu ul li {
    position: relative;
  }
  header nav .menu ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 16px 5%;
    line-height: 28px;
    display: block;
  }
  header nav .menu input[type=checkbox]:checked ~ ul {
    height: 240px;
  }
  header nav .menu {
    padding-top: 3px;
    float: left;
    margin-left: 80%;
  }
  /*checkbox transparente y en primer plano*/
  header nav .menu input {
    display: block;
    width: 40px;
    height: 32px;
    opacity: 0;
    z-index: -2;
    position: absolute;
  }
  /*span -lineas del menu hamburguesa-*/
  header nav .menu span {
    display: block;
    width: 25px;
    height: 2.5px;
    margin-bottom: 6.5px;
    position: relative;
    background: #000;
    z-index: 1;
    transform-origin: 3px 0px;
  }
  header nav .menu span:first-child {
    transform-origin: 0% 0%;
  }
  header nav .menu span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  /*movimiento a cruz*/
  header nav .menu input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(2px, 1px);
  }
  header nav .menu input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  header nav .menu input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(1px, 0px);
  }
}
@media screen and (max-width: 320px) {
  header {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 7%;
    margin-bottom: 7%;
    margin-top: 0%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 26px;
    height: 26px;
  }
  nav {
    width: 80%;
  }
}
.check {
  display: none;
}/*# sourceMappingURL=styles.css.map */